{% extends 'base.html.twig' %}

{% block content %}

    {% for user in users %}
        {{ user }}<br>
    {% else %}
        <p class="text-muted">No users yet.</p>
    {% endfor %}

{% endblock %}
